@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 94 100% 92%;
    --foreground: 131 21% 25%;
    --card: 94 100% 97%;
    --card-foreground: 131 21% 25%;
    --popover: 94 100% 97%;
    --popover-foreground: 131 21% 25%;
    --primary: 135 21% 47%;
    --primary-foreground: 94 100% 98%;
    --secondary: 135 20% 88%;
    --secondary-foreground: 131 21% 31%;
    --muted: 135 20% 88%;
    --muted-foreground: 131 15% 45%;
    --accent: 131 21% 31%;
    --accent-foreground: 94 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 20% 80%;
    --input: 135 20% 85%;
    --ring: 135 21% 47%;
    --chart-1: 135 21% 47%;
    --chart-2: 131 21% 31%;
    --chart-3: 135 20% 60%;
    --chart-4: 131 20% 45%;
    --chart-5: 135 15% 35%;
    --radius: 0.5rem;
    --sidebar-background: 94 80% 95%;
    --sidebar-foreground: 131 21% 25%;
    --sidebar-primary: 135 21% 47%;
    --sidebar-primary-foreground: 94 100% 98%;
    --sidebar-accent: 135 20% 88%;
    --sidebar-accent-foreground: 131 21% 31%;
    --sidebar-border: 135 20% 80%;
    --sidebar-ring: 135 21% 47%;
  }
  .dark {
    --background: 130 10% 8%;
    --foreground: 94 80% 88%;
    --card: 130 10% 12%;
    --card-foreground: 94 80% 88%;
    --popover: 130 10% 12%;
    --popover-foreground: 94 80% 88%;
    --primary: 135 21% 47%;
    --primary-foreground: 94 100% 98%;
    --secondary: 130 10% 15%;
    --secondary-foreground: 94 80% 88%;
    --muted: 130 10% 15%;
    --muted-foreground: 94 20% 65%;
    --accent: 131 21% 31%;
    --accent-foreground: 94 100% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 10% 17%;
    --input: 130 10% 17%;
    --ring: 135 21% 47%;
    --chart-1: 135 21% 47%;
    --chart-2: 131 21% 31%;
    --chart-3: 135 20% 60%;
    --chart-4: 131 20% 45%;
    --chart-5: 135 15% 35%;
    --sidebar-background: 130 10% 10%;
    --sidebar-foreground: 94 80% 88%;
    --sidebar-primary: 135 21% 47%;
    --sidebar-primary-foreground: 94 100% 98%;
    --sidebar-accent: 130 10% 15%;
    --sidebar-accent-foreground: 94 80% 88%;
    --sidebar-border: 130 10% 17%;
    --sidebar-ring: 135 21% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
